<!-- BEGIN_INCLUDE(bam:process-transaction-tracking) -->
    <bam:process-transaction-tracking flowUuid="#[map-payload:flowUuid]" transactionUuid="#[map-payload:transactionUuid]" content="#[map-payload:content]" />
<!-- END_INCLUDE(bam:process-transaction-tracking) -->