<!-- BEGIN_INCLUDE(bamconnector:process-transaction-tracking) -->
    <bamconnector:process-transaction-tracking flowUuid="#[map-payload:flowUuid]" transactionUuid="#[map-payload:transactionUuid]" />
<!-- END_INCLUDE(bamconnector:process-transaction-tracking) -->